<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>Bookshelf</div>
    <div><a href="/books">Books Page</a></div>
    <div><a href="/authors">Authors Page</a></div>
    <div><a href="/authorbooks">Authors_Books_Index Page</a></div>
</body>
</html>